@import "base_styles.css";

/* INITIAL STATE */
#subtitle{ transform:translateY(20px);}
#gulp128{ transform:translateX(-256px) translateY(110px);}
#grunt128{ transform:translateY(110px);}
#webpack128{ transform:translateX(256px) translateY(110px);}
#poniesAlert{ transform:translateY(10px) rotateX(90deg);}
#obviouslyAlert{ transform:translateY(60px) rotateX(90deg);}
#lab01{ transform:translateX(-200px);}
#lab02{ transform:translateX(-200px) translateY(200px);}
#proudTwilight{ transform:translateX(-400px);}
#bigProject{ transform:translateX(200px) translateY(200px);}
#scaredTwilight{ transform:translateX(-300px);}
#madTwilight{ transform:translateX(-300px) rotateX(-90deg);}
#depsImage{ transform:translateX(256px) rotateX(-90deg);}
#bsToTheRescue{ transform:scaleX(0.1) scaleY(0.1);}
#bsSimplifyFootnote{ transform:translateY(90px);}
#demoTime{ transform:translateY(-100px);}
#demoLink{ transform:translateY(140px);}

/* SLIDES */
.s2 {
  #title{ opacity:1;}
}

.s3 {
  #title{ transform:translateY(-98px);}
  #subtitle{ opacity:1;transform:translateY(10px);}
  #gulp128{ opacity:1;transform:translateX(-256px) translateY(100px);transition-delay: 0.2s;}
  #grunt128{ opacity:1;transform:translateY(100px);transition-delay: 0.4s;}
  #webpack128{ opacity:1;transform:translateX(256px) translateY(100px);transition-delay: 0.6s;}
}

.s4 {
  #subtitle{ opacity:0;transform:translateY(10px) rotateX(-90deg);transition-delay: 0s;}
  #gulp128{ opacity:0;transform:translateX(-256px) translateY(100px) rotateX(-90deg);transition-delay: 0s;}
  #grunt128{ opacity:0;transform:translateY(100px) rotateX(-90deg);transition-delay: 0s;}
  #webpack128{ opacity:0;transform:translateX(256px) translateY(100px) rotateX(-90deg);transition-delay: 0s;}
  #poniesAlert{ opacity:1;transform:translateY(10px) rotateX(0deg);transition-delay: 0.4s;}
  #obviouslyAlert{ opacity:1;transform:translateY(60px) rotateX(0deg);transition-delay: 0.4s;}
}

.s5 {
  #title{ opacity:0;transform:translateY(-298px);}
  #subtitle{ transform:translateY(-190px) rotateX(-90deg);transition-delay: 0.2s;}
  #poniesAlert{ opacity:0;transform:translateY(-190px) rotateX(0deg);transition-delay: 0.2s;}
  #obviouslyAlert{ opacity:0;transform:translateY(-140px) rotateX(0deg);}
  #lab01{ opacity:1;transform:translateX(0px);transition-delay: 0.4s;}
}

.s6 {
  #lab01{ transform:translateX(0px) translateY(-100px);transition-delay: 0s;}
  #lab02{ opacity:1;transform:translateX(0px) translateY(200px);}
}

.s7 {
  #lab01{ transform:translateX(200px) translateY(-100px);}
  #lab02{ transform:translateX(200px) translateY(200px);}
  #proudTwilight{ opacity:1;transform:translateX(-300px);}
}

.s8 {
  #lab01{ opacity:0;transform:translateX(200px) translateY(-300px);}
  #lab02{ opacity:0;transform:translateX(200px) translateY(0px);}
  #bigProject{ opacity:1;transform:translateX(200px) translateY(0px);}
  #proudTwilight{ opacity:0;transition-delay: 0.5s;}
  #scaredTwilight{ opacity:1;transition-delay: 0.5s;}
}

.s9 {
  #bigProject{ opacity:0;transform:translateX(200px) translateY(0px) rotateX(90deg);}
  #depsImage{ opacity:1;transform:translateX(256px) rotateX(0deg);transition-delay: 0.2s;}
  #scaredTwilight{ opacity:0;transform:translateX(-300px) rotateX(90deg);transition-delay: 0.3s;}
  #madTwilight{ opacity:1;transform:translateX(-300px) rotateX(0deg);transition-delay: 0.4s;}
}

.s10 {
  #depsImage{ opacity:0;transform:translateX(456px) rotateX(0deg) rotateY(0deg) rotateZ(90deg);transition-delay: 0s;}
  #madTwilight{ opacity:0;transform:translateX(-500px) rotateX(0deg);transition-delay: 0s;}
  #bsToTheRescue{ opacity:1;transform:scaleX(1.1) scaleY(1.1);transition-delay: 0.3s;}
}

.s11 {
  #bsToTheRescue{ transform:translateY(-256px) scaleX(0.6000000000000001) scaleY(0.6000000000000001);transition-delay: 0s;}
  #bsDefinition{ opacity:1;transform:translateY(-10px);}
}

.s12 {
  #bsDefinition{ transform:translateX(-400px) translateY(-10px) rotateX(0deg) rotateY(0deg) rotateZ(-90deg);}
}

.s13 {
  #bsResolve{ opacity:1;transform:translateY(-10px);}
}

.s14 {
  #bsResolve{ transform:translateX(400px) translateY(-10px) rotateX(0deg) rotateY(0deg) rotateZ(90deg);}
  #bsAutomate{ opacity:1;transform:translateY(-10px);}
}

.s15 {
  #bsAutomate{ transform:translateX(200px) translateY(-210px) scaleX(0.7) scaleY(0.7);}
  #bsDeploy{ opacity:1;transform:translateY(-10px);}
}

.s16 {
  #bsDeploy{ transform:translateX(-170px) translateY(-210px) scaleX(0.7) scaleY(0.7);}
  #bsSimplify{ opacity:1;transform:translateY(-10px);}
}

.s17 {
  #bsSimplifyFootnote{ opacity:1;transform:translateY(80px);}
}

.s18 {
  #bsSimplifyFootnote{ opacity:0;transform:translateY(80px) rotateX(90deg);}
  #bsSimplify{ transform:translateX(10px) translateY(240px) scaleX(1.5) scaleY(1.5);transition-delay: 0.3s;}
}

.s19 {
  #mlpBored{ opacity:1;}
}

.s20 {
  #mlpBored{ opacity:0;transform:translateY(400px);transition-delay: 0s;}
  #bsSimplify{ opacity:0;transform:translateX(10px) translateY(640px) scaleX(1.5) scaleY(1.5);transition-delay: 0s;}
  #bsDeploy{ opacity:0;transform:translateX(-170px) translateY(190px) scaleX(0.7) scaleY(0.7);transition-delay: 0s;}
  #bsAutomate{ opacity:0;transform:translateX(200px) translateY(190px) scaleX(0.7) scaleY(0.7);transition-delay: 0s;}
  #bsResolve{ opacity:0;transform:translateX(400px) translateY(390px) rotateX(0deg) rotateY(0deg) rotateZ(90deg);transition-delay: 0s;}
  #bsDefinition{ opacity:0;transform:translateX(-400px) translateY(390px) rotateX(0deg) rotateY(0deg) rotateZ(-90deg);transition-delay: 0s;}
  #bsToTheRescue{ opacity:0;transform:translateY(144px) scaleX(0.6000000000000001) scaleY(0.6000000000000001);}
  #demoTime{ opacity:1;transform:translateY(0px);transition-delay: 0.3s;}
  #demoLink{ opacity:1;transform:translateY(40px);transition-delay: 0.5s;}
}

.s21 {
  #demoTime{ opacity:0;transition-delay: 0s;}
  #demoLink{ opacity:0;transition-delay: 0s;}
  #finalSlide{ opacity:1;transition-delay: 0.3s;}
}
